---
title: Install - diff-ext
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <div class="container">
    <h1>Install</h1>
    <ol>
      <li>
        <b>Download:</b> Get the latest 
          <a href="https://github.com/serg5z/diff-ext/releases/latest">release from GitHub</a> or get MSIX package from 
          <a href="https://apps.microsoft.com/detail/9ncbq78vhg6v?ocid=webpdpshare">Windows App Store</a>.
      </li>
      <li>
        <b>Install:</b> Double-click the <code>diff-ext-installer.exe</code> installer and follow the prompts.
      </li>
      <li>
        <b>Configure:</b> Set your preferred diff tool in the settings dialog (<i>diff-ext-setup.exe</lii>).
      </li>
      <li>
        <b>Update/Uninstall:</b> Use "Apps & Features" or simply re-run the installer to upgrade.
      </li>
    </ol>
    <p>
      <b>Requirements:</b>
      <ul>
        <li>Windows 10/11 (x64, x86, ARM64)</li>
        <li>External diff tool (WinMerge, KDiff3, Beyond Compare, etc)</li>
        <li>Administrator rights to install</li>
      </ul>
    </p>
  </div>
  {% include footer.html %}
</body>
</html>
