---
title: Support - diff-ext
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <div class="container">
    <h1>Support & Contact</h1>
    <ul>
      <li><b>Bug reports & feature requests:</b> <a href="https://github.com/serg5z/diff-ext/issues">GitHub Issues</a></li>
      <li><b>Source code:</b> <a href="https://github.com/serg5z/diff-ext">GitHub Repository</a></li>
    </ul>
    <p>
      <b>Need help?</b> Open an issue.<br>
      <b>Contributions welcome!</b>
    </p>
  </div>
  {% include footer.html %}
</body>
</html>
