<head>
  <meta charset="UTF-8">
  <title>
    {% if page.title %}{{ page.title }} | dialog-layout{% else %}dialog-layout: Dynamic Win32 Dialog Layout Engine{% endif %}
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="style.css">
  <script defer src="script.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CFB9XXGL3Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CFB9XXGL3Y');
</script>
