/*
 * Copyright (c) 2003, Sergey Zorin. All rights reserved.
 *
 * This software is distributable under the BSD license. See the terms
 * of the BSD license in the LICENSE file provided with this software.
 *
 */

#ifndef __BORLANDC__
#include <windows.h>
#endif
#include "../diff_ext_setup.rh"

#ifndef __LCC__
  #ifdef __MINGW32__
  #define MANIFEST 24
  #endif

1 MANIFEST "diff_ext_setup.manifest"
#endif

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,1,0,0
 PRODUCTVERSION 1,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "041904e3"
        {
            VALUE "Comments", ""
            VALUE "CompanyName", ""
            VALUE "FileDescription", "diff shell extension setup"
            VALUE "FileVersion", "Выпуск 1.1"
            VALUE "InternalName", "diff shell extension setup"
            VALUE "LegalCopyright", "Copyright © 2003, 2004 Сергей Зорин"
            VALUE "LegalTrademarks", ""
            VALUE "OriginalFilename", "diff_ext_setup1049.dll"
            VALUE "PrivateBuild", ""
            VALUE "ProductName", "Diff Context Menu Extension"
            VALUE "ProductVersion", "Выпуск 1.1"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x419, 1251
    }
}

main_icon ICON "de.ico"

#include "options_ru.dlg"
#include "logging_ru.dlg"
#include "about_ru.dlg"

IDD_MAINDIALOG DIALOGEX 
70, 60, 242, 129
STYLE DS_CENTER | DS_3DLOOK | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Установки diff_ext"
FONT 8, "Helv"
CLASS "diff-ext-setup"
BEGIN
    CONTROL         "", 
		  ID_TAB, 
		  "SysTabControl32", 
		  WS_TABSTOP, 
		  6, 6, 228, 98
		  
    DEFPUSHBUTTON "OK", 
                  IDOK, 
                  7, 108, 50, 14,
                  WS_GROUP
    PUSHBUTTON    "Отмена",
                  IDCANCEL,
                  61, 108, 50, 14
    PUSHBUTTON    "Применить",
                  ID_APPLY,
                  115, 108, 50, 14
    PUSHBUTTON    "О программе",
                  ID_ABOUT,
                  172, 108, 55, 14
END

ID_MAINDIALOG_LAYOUT RCDATA {
  ID_TAB, /* ID_TAB */
    3L, /* ANCOR_LEFT | ANCOR_TOP */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  ID_ABOUT, /*ID_ABOUT*/
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  2L, /*IDCANCEL*/ 
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  1L, /*IDOK*/ 
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  ID_APPLY, /*ID_APPLY*/ 
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L /* ANCOR_RIGHT | ANCOR_BOTTOM */
}

STRINGTABLE
{
  OPTIONS_STR "Параметры"
  LOGGING_STR "Журнал"
}
