/*
 * Copyright (c) 2003, Sergey Zorin. All rights reserved.
 *
 * This software is distributable under the BSD license. See the terms
 * of the BSD license in the LICENSE file provided with this software.
 *
 */

#ifndef __BORLANDC__
#include <windows.h>
#endif
#include "../diff_ext_setup_res.h"

#ifndef __LCC__
  #ifdef __MINGW32__
  #define MANIFEST 24
  #endif

1 MANIFEST "diff_ext_setup.manifest"
#endif

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

MAIN_ICON ICON "de.ico"

IDD_MAINDIALOG DIALOGEX 
86, 69, 195, 100
STYLE DS_CENTER | DS_3DLOOK | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Установки diff_ext"
FONT 8, "Helv"
CLASS "diff-ext-setup"
BEGIN
    GROUPBOX      "Программа сравнения",
                  ID_GROUP, 
                  5, 5, 185, 45
    EDITTEXT      
                  ID_DIFF_COMMAND, 
                  10, 15, 130, 12, 
                  ES_AUTOHSCROLL | WS_GROUP, 
                  WS_EX_CLIENTEDGE
    PUSHBUTTON    "Обзор...",
                  ID_BROWSE, 
                  145, 14, 40, 14
    AUTOCHECKBOX  "может сравнивать директории",
                  ID_DIFF_DIRS, 
                  10, 35, 120, 10,
                  WS_DISABLED
    LTEXT         "Язык",
                  104, 
                  5, 55, 25, 12
    COMBOBOX      
                  ID_LANGUAGE, 
                  30, 53, 100, 130, 
                  CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "OK", 
                  IDOK, 
                  45, 80, 40, 14, 
                  WS_GROUP
    PUSHBUTTON    "Отмена",
                  IDCANCEL,
                  90, 80, 40, 14
    PUSHBUTTON    "О программе",
                  ID_ABOUT,
                  135, 80, 55, 14,
                  WS_DISABLED
END

DLG_ABOUT DIALOGEX
105, 100, 178, 109
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "Ok", IDOK, 73, 89, 40, 14
    LTEXT           "About diff-ext-setup", 201, 51, 6, 121, 76
END

ID_MAINDIALOG_LAYOUT RCDATA {
  106L, /*ID_ABOUT*/
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  2L, /*IDCANCEL*/ 
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  1L, /*IDOK*/ 
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  103L, /*ID_GROUP*/ 
    3L, /* ANCOR_LEFT | ANCOR_TOP */
    6L, /* ANCOR_RIGHT | ANCOR_TOP */
  102L, /*ID_DIFF_COMMAND*/ 
    3L, /* ANCOR_LEFT | ANCOR_TOP */
    6L, /* ANCOR_RIGHT | ANCOR_TOP */
  105L, /*ID_BROWSE*/ 
    6L, /* ANCOR_RIGHT | ANCOR_TOP */
    6L /* ANCOR_RIGHT | ANCOR_TOP */
}
