/*
 * Copyright (c) 2003, Sergey Zorin. All rights reserved.
 *
 * This software is distributable under the BSD license. See the terms
 * of the BSD license in the LICENSE file provided with this software.
 *
 */

#ifndef __BORLANDC__
#include <windows.h>
#endif
#include "../diff_ext_setup.rh"

#ifndef __LCC__
  #ifdef __MINGW32__
  #define MANIFEST 24
  #endif

1 MANIFEST "diff_ext_setup.manifest"
#endif

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "041904e3"
        {
            VALUE "Comments", ""
            VALUE "CompanyName", ""
            VALUE "FileDescription", "diff shell extension setup"
            VALUE "FileVersion", "Выпуск 1.0"
            VALUE "InternalName", "diff shell extension setup"
            VALUE "LegalCopyright", "Copyright © 2003, 2004 Сергей Зорин"
            VALUE "LegalTrademarks", ""
            VALUE "OriginalFilename", "diff_ext_setup1049.dll"
            VALUE "PrivateBuild", ""
            VALUE "ProductName", "Diff Context Menu Extension"
            VALUE "ProductVersion", "Выпуск 1.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x419, 1251
    }
}

main_icon ICON "de.ico"

IDD_MAINDIALOG DIALOGEX 
86, 69, 234, 101
STYLE DS_CENTER | DS_3DLOOK | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Установки diff_ext"
FONT 8, "Helv"
CLASS "diff-ext-setup"
BEGIN
    GROUPBOX      "Программа сравнения",
                  ID_GROUP, 
                  7, 7, 219, 46
    EDITTEXT      
                  ID_DIFF_COMMAND, 
                  14, 18, 150, 14, 
                  ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
                  
    PUSHBUTTON    "Обзор...",
                  ID_BROWSE, 
                  168, 18, 50, 14
    AUTOCHECKBOX  "может сравнивать директории",
                  ID_DIFF_DIRS, 
                  14, 36, 120, 10,
                  WS_DISABLED
    LTEXT         "Язык",
                  104, 
		  7, 60, 25, 8
    COMBOBOX      
                  ID_LANGUAGE, 
                  36, 59, 100, 130, 
                  CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "OK", 
                  IDOK, 
                  7, 80, 50, 14,
                  WS_GROUP
    PUSHBUTTON    "Отмена",
                  IDCANCEL,
                  61, 80, 50, 14
    PUSHBUTTON    "Применить",
                  ID_APPLY,
                  115, 80, 50, 14
    PUSHBUTTON    "О программе",
                  ID_ABOUT,
                  172, 80, 55, 14
END

DLG_ABOUT DIALOGEX 
10, 10, 214, 73
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "О программе diff_ext"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "&Закрыть", 
		  IDOK, 
		  157, 52, 50, 14
		  
    ICON  "main_icon", 
	  203, 
	  7, 7, 21, 20
    CTEXT "diff_ext", 
	  201, 
	  26, 7, 162, 8
    CTEXT "Информация о версии отсутствует.", 
	  ID_VERSION, 
	  26, 22, 162, 8
    CTEXT "\251 2003-2004 Сергей Зорин. Все права защищены.", 
	  202, 
	  7, 37, 200, 8
END


ID_MAINDIALOG_LAYOUT RCDATA {
  106L, /*ID_ABOUT*/
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  2L, /*IDCANCEL*/ 
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  108L, /*ID_APPLY*/ 
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  1L, /*IDOK*/ 
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  103L, /*ID_GROUP*/ 
    3L, /* ANCOR_LEFT | ANCOR_TOP */
    6L, /* ANCOR_RIGHT | ANCOR_TOP */
  102L, /*ID_DIFF_COMMAND*/ 
    3L, /* ANCOR_LEFT | ANCOR_TOP */
    6L, /* ANCOR_RIGHT | ANCOR_TOP */
  105L, /*ID_BROWSE*/ 
    6L, /* ANCOR_RIGHT | ANCOR_TOP */
    6L /* ANCOR_RIGHT | ANCOR_TOP */
}
