/*
 * Copyright (c) 2003, Sergey Zorin. All rights reserved.
 *
 * This software is distributable under the BSD license. See the terms
 * of the BSD license in the LICENSE file provided with this software.
 *
 */

#ifndef __BORLANDC__
#include <windows.h>
#endif
#include "diff_ext_setup.rh"

#ifndef __LCC__
  #ifdef __MINGW32__
  #define MANIFEST 24
  #endif

/* disable it untill I can fix styling problem with tab pages
1 MANIFEST "diff_ext_setup.manifest"
*/
#endif

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#if 0
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "Comments", ""
            VALUE "CompanyName", ""
            VALUE "FileDescription", "diff shell extension setup"
            VALUE "FileVersion", "Release 1.0"
            VALUE "InternalName", "diff shell extension setup"
            VALUE "LegalCopyright", "Copyright © 2003, 2004 Sergey Zorin"
            VALUE "LegalTrademarks", ""
            VALUE "OriginalFilename", "diff_ext_setup.exe"
            VALUE "PrivateBuild", ""
            VALUE "ProductName", "Diff Context Menu Extension"
            VALUE "ProductVersion", "Release 1.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}
#endif
main_icon ICON "de.ico"

IDD_OPTIONS DIALOGEX
0, 0, 228, 75
STYLE DS_CONTROL | WS_CHILD | DS_3DLOOK
FONT 8, "Helv"
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
    GROUPBOX      "Diff command", 			
                  ID_GROUP, 
                  7, 7, 214, 46,
		  WS_EX_TRANSPARENT
    EDITTEXT      
                  ID_DIFF_COMMAND, 
                  14, 18, 145, 14, 
                  ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
                  
    PUSHBUTTON    "Browse...",
                  ID_BROWSE, 
                  163, 18, 50, 14
    AUTOCHECKBOX  "Can compare folders",
                  ID_DIFF_DIRS, 
                  14, 36, 90, 10,
                  WS_DISABLED
    LTEXT         "Language",
                  104, 
                  7, 60, 35, 8
    COMBOBOX      
                  ID_LANGUAGE, 
                  46, 59, 100, 130, 
                  CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
END

IDD_DEBUG DIALOGEX
0, 0, 228, 75
STYLE DS_CONTROL | WS_CHILD | DS_3DLOOK
FONT 8, "Helv"
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
    AUTOCHECKBOX  "Enable debug",
                  ID_ENABLE_DEBUG, 
                  7, 7, 90, 10,
		  WS_TABSTOP
    EDITTEXT      
                  ID_LOG_PATH, 
                  7, 22, 152, 14, 
                  ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER
                  
    PUSHBUTTON    "Browse...",
                  ID_BROWSE, 
                  163, 22, 50, 14
END

IDD_MAINDIALOG DIALOGEX
70, 60, 242, 129
STYLE DS_CENTER | DS_3DLOOK | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "diff_ext setup"
FONT 8, "Helv"
CLASS "diff-ext-setup"
BEGIN
    CONTROL         "", 
		  ID_TAB, 
		  "SysTabControl32", 
		  WS_TABSTOP | WS_CLIPSIBLINGS, 
		  6, 6, 228, 98
    DEFPUSHBUTTON "OK", 
                  IDOK, 
                  21, 108, 50, 14, 
                  WS_GROUP
    PUSHBUTTON    "Cancel",
                  IDCANCEL, 
                  75, 108, 50, 14
    PUSHBUTTON    "Apply",
                  ID_APPLY, 
                  129, 108, 50, 14
    PUSHBUTTON    "About",
                  ID_ABOUT, 
                  186, 108, 50, 14
END

DLG_ABOUT DIALOGEX 
10, 10, 214, 73
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About diff_ext"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "&Close", 
		  IDOK, 
		  157, 52, 50, 14
		  
    ICON  "main_icon", 
	  203, 
	  7, 7, 21, 20
    CTEXT "diff_ext", 
	  201, 
	  30, 7, 162, 8
    CTEXT "No version infornation available.", 
	  ID_VERSION, 
	  30, 22, 162, 8
    CTEXT "\251 2003-2004 Sergey Zorin. All rights reserved.", 
	  202, 
	  7, 37, 200, 8
END

ID_MAINDIALOG_LAYOUT RCDATA {
  ID_TAB, /* ID_TAB */
    3L, /* ANCOR_LEFT | ANCOR_TOP */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  ID_ABOUT, /*ID_ABOUT*/
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  2L, /*IDCANCEL*/ 
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  1L, /*IDOK*/ 
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  ID_APPLY, /*ID_APPLY*/ 
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  ID_GROUP, /*ID_GROUP*/ 
    3L, /* ANCOR_LEFT | ANCOR_TOP */
    6L, /* ANCOR_RIGHT | ANCOR_TOP */
  ID_DIFF_COMMAND, /*ID_DIFF_COMMAND*/ 
    3L, /* ANCOR_LEFT | ANCOR_TOP */
    6L, /* ANCOR_RIGHT | ANCOR_TOP */
  ID_BROWSE, /*ID_BROWSE*/ 
    6L, /* ANCOR_RIGHT | ANCOR_TOP */
    6L, /* ANCOR_RIGHT | ANCOR_TOP */
  ID_LOG_PATH, /*ID_LOG_PATH*/ 
    3L, /* ANCOR_LEFT | ANCOR_TOP */
    6L /* ANCOR_RIGHT | ANCOR_TOP */
}
