#ifndef __BORLANDC__
#include <windows.h>
#endif
#include "diff_ext_setup_res.h"

#ifndef __LCC__
  #ifdef __MINGW32__
  #define MANIFEST 24
  #endif

1 MANIFEST "diff_ext_setup.manifest"
#endif

IDD_MAINDIALOG DIALOG 70, 60, 195, 100
STYLE DS_CENTER | DS_3DLOOK | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "diff-ext-setup"
FONT 8, "Helv"
BEGIN
    GROUPBOX        "Diff command", 103, 5, 5, 185, 45
    EDITTEXT        102, 10, 15, 130, 12, ES_AUTOHSCROLL | WS_GROUP, WS_EX_CLIENTEDGE
    PUSHBUTTON      "Browse...", ID_BROWSE, 145, 14, 40, 14
    AUTOCHECKBOX    "diff can compare folders", 107, 10, 35, 90, 10
    LTEXT           "Language", 104, 5, 55, 35, 12
    COMBOBOX        ID_LANGUAGE, 45, 53, 100, 130, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 60, 80, 40, 14, WS_GROUP
    PUSHBUTTON      "Cancel", IDCANCEL, 105, 80, 40, 14
    PUSHBUTTON      "About", ID_ABOUT, 150, 80, 40, 14, WS_DISABLED
END

DLG_ABOUT DIALOG 105, 100, 178, 109
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "Ok", IDOK, 73, 89, 40, 14
    LTEXT           "About diff-ext-setup", 201, 51, 6, 121, 76
END

ID_MAINDIALOG_LAYOUT RCDATA {
  106L, /*ID_ABOUT*/
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  2L, /*IDCANCEL*/ 
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  1L, /*IDOK*/ 
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
    12L, /* ANCOR_RIGHT | ANCOR_BOTTOM */
  103L, /*ID_GROUP*/ 
    3L, /* ANCOR_LEFT | ANCOR_TOP */
    6L, /* ANCOR_RIGHT | ANCOR_TOP */
  102L, /*ID_DIFF_COMMAND*/ 
    3L, /* ANCOR_LEFT | ANCOR_TOP */
    6L, /* ANCOR_RIGHT | ANCOR_TOP */
  105L, /*ID_BROWSE*/ 
    6L, /* ANCOR_RIGHT | ANCOR_TOP */
    6L /* ANCOR_RIGHT | ANCOR_TOP */
}
