/*
 * Copyright (c) 2003, Sergey Zorin. All rights reserved.
 *
 * This software is distributable under the BSD license. See the terms
 * of the BSD license in the LICENSE file provided with this software.
 *
 */

#include <windows.h>

#include "diff_ext.rh"

#define xstr(x) str(x)
#define str(x) #x

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
  FILEVERSION 1,0,0,15
  PRODUCTVERSION 1,0,0,15
  FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0L
#endif
  FILEOS VOS_NT_WINDOWS32
  FILETYPE VFT_DLL
  FILESUBTYPE VFT_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "Comments", ""
            VALUE "CompanyName", ""
            VALUE "FileDescription", "diff shell extension"
            VALUE "FileVersion", "Release 1.0"
            VALUE "InternalName", "diff shell extension"
            VALUE "LegalCopyright", "Copyright © 2003, 2004 Sergey Zorin"
            VALUE "LegalTrademarks", ""
            VALUE "OriginalFilename", "diff_ext.dll"
            VALUE "PrivateBuild", ""
            VALUE "ProductName", "Diff Context Menu Extension"
            VALUE "ProductVersion", "Release 1.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}

STRINGTABLE
{
  DIFF_STR "diff"
  DIFF_WITH_STR "diff with"
  DIFF_LATER_STR "diff later"
  
  DIFF_HINT "Compare selected files"
  DIFF_WITH_HINT "Compare '%1' with '%2'"
  DIFF_LATER_HINT "Save '%1' for later comparison"
  
  CREATE_PROCESS_STR "Could not start diff command. Please run diff_ext setup program and verify your configuration."
  
  ERROR_STR "Error"
}
