/*
* Copyright (c) 2025, Sergey Zorin.
* All rights reserved.
*
* This software is distributed under the BSD license. See the terms
* of the BSD license in the LICENSE file provided with this software.
*
*/

#include "resources.h"

IDI_COMPARE_ICON ICON "icons/compare.ico"
IDI_REMEMBER_ICON ICON "icons/remember.ico"
